@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Roboto Mono', monospace;
    background: url("https://source.unsplash.com/1600x900/?landscape");
}

.card{
    background: rgba(0, 0, 0, 0.9);
    padding: 1.5em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: #fff;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 30%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    background-color: rgba(99, 99, 99, 0.8);
    color: #fff
}

.searchbar{
    height: 2em;
    border: none;
    border-radius: 5px;
    background-color: rgba(99, 99, 99, 0.7);
    color: #fff;
    width: 70%;
}

.description{
    text-transform: capitalize;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
